* {
    word-break: break-word;
}

button {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;
}
